body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img {
    height: 48%;
    width: 48%;
    opacity: 0.1;
}

p {
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
